<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Recipe Form</title>

    <!-- Latest compiled and minified CSS -->
    <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}">

    <script crossorigin="anonymous" src="https://code.jquery.com/jquery-3.0.0.slim.min.js"
            th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>
    <script crossorigin="anonymous" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            th:src="@{/webjars/popper.js/1.14.3/umd/popper.min.js}"></script>
    <script crossorigin="anonymous" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>


    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">

    <style th:remove="all">
        .card-style {
            width: 85%;
            margin: auto;
        }

        .card-header {
            color: floralwhite;
        }
    </style>

</head>
<body>
<!--RECIPE DESCRIPTION -->
<div class="container mt-5" >

<form action="#" id="form" th:object="${recipe}" th:action="@{/recipe/}" method="post">

    <input type="hidden" th:field="*{id}">

    <div class="card border-primary card-style" style="width: 82% !important;">

        <h5 class="card-header bg-primary">
            <span>Edit Recipe</span>
            <!--  todo add upload image functionality-->
            <span class="float-right"><a href=""  style="color:floralwhite">Upload Image</a></span>
        </h5>


        <div class="card-body">
            <!--  DESCRIPTION CATEGORIES AND IMAGE-->
            <div class="row">
                <div class="col-md-4">
                    <div class="p-2">
                        <h5>Description</h5>
                        <label>
                            <input type="text" class="form-control" th:field="*{description}">
                        </label>
                    </div>


                    <div class="p-2 mt-4">
                        <h5>Categories</h5>
                        <div th:remove="all">
                            <label>
                                <input type="checkbox">
                            </label> Category 1
                            <label>
                                <input type="checkbox">
                                Category 2
                            </label>
                        </div>

                        <th:block th:each="tempCategory, i : ${categories}" th:object="${checkedCategories}">
                            <th:block th:if="${i.index} == 3">
                                <br>
                            </th:block>


                            <input type="checkbox" name="checkedCategory" th:value="${tempCategory.id}" th:checked="${checkedCategories.contains(tempCategory.description)}">

                            <label th:text="${tempCategory.description}"></label>
                        </th:block>

                    </div>


                </div>

                <div class="col-md-8 text-md-right">
                    <img src="../../static/images/holder.png" th:src="@{/images/holder.png}"
                         alt="holder image" width="500" height="250" class="img-fluid p-2"
                         style="height: 250px !important;">
                </div>
            </div>


<!--            PREP TIME, COOK TIME, DIFFICULTY-->
            <div class="row mt-4">
                <div class="col-md-4 p-2">
                    <h5>Prep Time</h5>
                    <input type="text" class="form-control" th:field="*{prepTime}">
                </div>

                <div class="col-md-4 p-2">
                    <h5>Cook Time</h5>
                    <input type="text" class="form-control" th:field="*{cookTime}">
                </div>

                <div class="col-md-4 p-2">
                    <h5>Difficulty</h5>
                    <select class="form-control" th:remove="all">
                        <option>Easy</option>
                        <option>Medium</option>
                        <option>Hard</option>
                    </select>

                    <select class="form-control" th:field="*{difficulty}">
                        <option
                                th:each="difficultyValue : ${T(com.slinger.recipeapp.domain.Difficulty).values()}"
                                th:value="${difficultyValue.name()}"
                                th:text="${difficultyValue}">


                        </option>
                    </select>

                    
                </div>
            </div>




            <!--   SERVINGS, SOURCE, URL-->
            <div class="row mb-2 mt-3">
                <div class="col-md-4 p-2">
                    <h5>Servings</h5>
                    <input type="text" class="form-control" th:field="*{servings}">
                </div>

                <div class="col-md-4 p-2">
                    <h5>Source</h5>
                    <input type="text" class="form-control" th:field="*{source}">
                </div>

                <div class="col-md-4 p-2">
                    <h5>Url</h5>
                    <input type="text" class="form-control" th:field="*{url}">
                </div>
            </div>


        </div>
    </div>


<!--TODO ADD INGREDIENT FUNCTIONALITY -->

<!--RECIPE INGREDIENTS-->
<div class="container mt-5">
    <div class="card border-primary card-style">
        <h5 class="card-header bg-primary">
            Ingredients
            <!--  todo add view ingredient functionality -->
            <span class="float-right"><a href="#" style="color:floralwhite" th:if="${recipe.ingredients.size()} > 0">Edit Ingredients</a></span>
        </h5>

            <!-- ONLY SHOW THIS DIV IF USER IS ADDING NEW RECIPE       -->
            <div class="card-body" th:object="${ingredient}" th:if="${recipe.ingredients.size()} == 0">


                <div class="row mt-1 mb-2 text-center">

                    <div class="col-md-3 p-2">
                        <h5>Amount:</h5>
                        <input type="text" id="ingredient-amount" class="form-control" th:field="*{amount}">
                    </div>


                    <div class="col-md-3 p-2">
                        <h5>UOM:</h5>

                        <select class="form-control" id="list">
                            <option
                                    th:each="uomTemp : ${uomList}"
                                    th:value="${uomTemp.description}"
                                    th:text="${uomTemp.description}"
                                    th:name="${uomTemp.description}"
                                    th:selected="${uomTemp.id.equals(ingredient.id)}"
                                    >
                            </option>
                        </select>

                    </div>

                    <div class="col-md-3 p-2">
                        <h5>Description:</h5>
                        <input type="text" id="ingredient-description" class="form-control" th:field="*{ingredientDescription}"/>
                    </div>


                    <div class="col-md-3 p-2">
                        <h5>Add:</h5>
                        <button type="button" onclick="addIngredient()"  class="btn btn-primary">Add Ingredient</button>
                    </div>
                </div>


                <div class="text-center">
                    <ul class="list-group" id="ingredient-list">
                        <li th:remove="all" class="list-group-item">Ingredient 2</li>
                        <li th:remove="all" class="list-group-item">Ingredient 3</li>
                    </ul>
                </div>

            </div>
    </div>
</div>


<!--RECIPE DIRECTIONS-->
<div class="container mt-5">
    <div class="card border-primary card-style">
        <h5 class="card-header bg-primary">Directions</h5>
        <textarea name="directions" id="directions" cols="30" rows="10" th:field="*{directions}"></textarea>
    </div>
</div>


<!--RECIPE NOTES-->
<div class="container mt-5 mb-5">
    <div class="card border-primary card-style">
        <h5 class="card-header bg-primary">Notes</h5>
        <textarea name="notes" id="notes" cols="30" rows="10" th:field="*{notes.recipeNotes}"></textarea>
    </div>
</div>


    <div class="container card-style mb-3">
        <button type="submit" class="btn btn-primary">Add Recipe</button>
    </div>


</form>

</div>

<script>

    /*<![CDATA[*/


    /*]]>*/



    ingredients = [];

    $(document).ready(function () {

        $('#form').submit(function (event) {

            event.preventDefault();
            event.returnValue = false;

            let $form = $(this);

            $.ajax({
                type: "POST",
                url: "/saveIngredients",
                context: $form,
                contentType: "application/json",
                dataType: 'json',
                data: JSON.stringify(ingredients),
                complete: function () {
                    this.off('submit');
                    this.submit();
                }
            });


        });

    });


    function addIngredient() {

        let uomValue = document.getElementById("list");
        let ingredientAmount = document.getElementById("ingredient-amount").value;
        let ingredientDescription = document.getElementById("ingredient-description").value;

        //make an Ingredient Object
        let uom = {"description" : uomValue.value};
        let ingredient = {"ingredientDescription" : ingredientDescription, "amount" : ingredientAmount , "uom" : uom };

        ingredients.push(ingredient);

        let node = document.createElement("LI"); //make li node
        node.classList.add("list-group-item");  // add bootstrap class
        let textNode = document.createTextNode(ingredient.amount + " " + uom.description + " " + ingredient.ingredientDescription);  //how user sees list item

        node.appendChild(textNode); // add text to node
        document.getElementById("ingredient-list").appendChild(node);

    }




</script>


</body>
</html>
