<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${ingredient.ingredientDescription}">Ingredient</title>

    <!-- Latest compiled and minified CSS -->
    <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}">

    <script crossorigin="anonymous" src="https://code.jquery.com/jquery-3.0.0.slim.min.js"
            th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>
    <script crossorigin="anonymous" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            th:src="@{/webjars/popper.js/1.14.3/umd/popper.min.js}"></script>
    <script crossorigin="anonymous" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>


    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">

    <style th:remove="all">
        .card-style {
            width: 85%;
            margin: auto;
        }

        .card-header {
            color: floralwhite;
        }
    </style>

</head>
<body>


<div class="container mt-5">
    <div class="card border-primary card-style">

        <h5 class="card-header bg-primary">
            <span th:text="'My Recipes'">Ingredient</span>
            <span class="float-right"><a href="" th:href="@{'/recipe/' + ${recipe.id} + '/ingredients'}" style="color:floralwhite">Back To Ingredients</a></span>
        </h5>


        <div class="card-body">
            <table class="table">
                <thead class="table-borderless">
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Description</th>
                </tr>
                </thead>

                <tbody>
                <tr th:remove="all">
                    <td>1</td>
                    <td>2 Cup Flour</td>
                </tr>
                <tr>
                    <td th:text="${ingredient.id}"></td>
                    <td th:text="${ingredient.ingredientDescription}"></td>
                </tr>
                </tbody>

            </table>
        </div>

    </div>
</div>



</body>
</html>
