<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Recipe App</title>

    <!-- Latest compiled and minified CSS -->
    <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}">

    <script crossorigin="anonymous" src="https://code.jquery.com/jquery-3.0.0.slim.min.js"
            th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>
    <script crossorigin="anonymous" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            th:src="@{/webjars/popper.js/1.14.3/umd/popper.min.js}"></script>
    <script crossorigin="anonymous" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>


</head>
<body>

<div class="container mt-5">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Description</th>
            </tr>
        </thead>

        <tbody>
            <tr th:remove="all">
                <td>1</td>
                <td>Quick Pizza</td>
            </tr>
            <tr th:remove="all">
                <td>2</td>
                <td>Chicken Diner</td>
            </tr>

            <tr th:each="recipe : ${recipes}">
                <td th:text="${recipe.id}"></td>
                <td th:text="${recipe.description}"></td>
            </tr>

        </tbody>

    </table>
</div>

</body>
</html>
